@charset "UTF-8";
html {width: 100%; height: 100%;  margin: 0; style=" font-family: Gugi, sans-serif; font-weight: 400; font-style: normal; font-size: 30px;"}
body {
 	height: 100vh;
 	clear: both;
    margin: 0;
    font-family: Gugi, sans-serif; font-weight: 400; font-style: normal; font-size: 30px;
}

a {
	text-decoration: none;
}

a:link {
	text-decoration: none;
}
 
header{
	   width: 100%;
	   overflow: hidden;
       position: fixed;
       top:0;
       z-index: 999;
}
 
#wrapper{
	width: 100%;
    height: auto;
    min-height: 100%;
    padding-top: 100px;
    padding-bottom: 300px;
    font-family: Gugi, sans-serif; font-weight: 400; font-style: normal; font-size: 30px;
}

footer {
	width:100%;
	height: 300px;
    position : relative;
    transform : translateY(-100%);
	background-color: black;
}
