@charset "UTF-8";

/* li {
     list-style-type: none;
     float: left;
     width: 100%;
     min-width: 200px;
  }
  #gnb {
      	font:bold 16px "malgun gothic";
		min-width:1fr;
		height:50px;
		background: #ccc;
		color:black;
		line-height: 50px; 
		clear:both;
		text-align: center; 
		z-index: 999;
		left:0px;
		float: none;
		
  }
  
  #gnd > ul { 
        list-style-type: none;  
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
        }
  
  #gnb > ul > li {
		width:200px;
		position:relative;
		z-index: 3;
		clear:both;
		float: none;
		list-style-type: none;
		border-left: 1px solid #c0c0c0;
		padding-left: 0;
        padding-right: 0;
         margin-left: 0;
        margin-right: 0;
		
		
  }
  
  #gnb > ul > li > ul {
		width: 100%;
		display:none;
		left:0px; 
		position: absolute;
		font-size:14px;
		background: skyblue;
		clear:both;
	}
  #gnb > ul > li:hover > ul {
		display:block;
		width: 100%;
  }
  #gnb > ul > li > ul > li {
        width: 100%;
        list-style-type: none;
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
        
        
  }
  #gnb > ul > li:hover {
       border-bottom-color: #CDFEF9;
       border-bottom: 10px;
  }
  
  
  #gnb > ul > li > ul > li:hover {
        align-items: center;
        margin: 20px;
        left:0px; 
        width: 100%;
		background: orange;
		list-style-type: none;
		transition: ease 1s;
		}
  #topBar {
        display: flex;
        justify-content: space-between;
        margin-right: 20px;
  } */
  
 .navBar {
     display: flex;
     justify-content: space-between;
     align-items: center;
     max-height: 230px;
     background-color: #5882FA;
    
}
.navBar_logo {
	display: flex;
	margin-left: 5px;
	font-size: 24px;
	color: #0000;
}

.navBar_logo i{
	color: #0000;
}

.navBar_menu{
	display: flex;
	list-style: none;
	padding-left: 0;
	gap: 10px;
}


.navBar_menu li:hover {
	background-color: #2E9AFE;
	border-radius: 4px;
	transition: all 1s;
}
.navBar_menu li {
	text-align: center;
	padding: 8px 12px;
}

.navBar_icons {
	list-style: none;
	color: #fff;
	display: flex;
	padding-left: 0;
}

.navBar_icons li{
	padding: 8px 12px;
}

.navBar_menu_son  {
	min-width: 150px;
	display: none;
	padding-left: 0;
	height: 150px;
    line-height: 16px;
}


.navBar_menu_son ul  {
	height: 100px;
	font-weight: 400;
}

.navBar_menu_son li  {
	color: #000;
	font-weight: 400;
}
}




.navBar_menu_son:hover  {
	transition: 2s;
}



.navBar_menu_son li:hover {
	min-width: 150px;
	padding-left: 0;
	background-color: #819FF7;
	border-bottom-color: #ffff;
	border-bottom: 2px solid;
	
	
}



.navBar_menu:hover .navBar_menu_son {
	display: block;
	list-style: none;
	transition: 4s;
	padding-left: 0;
	z-index: 999;
	clear:both;
}



.navBar_menu li:hover .navBar {
	transition: 2s;
}

.navBar_ham {
	display: none;
}

#main_li {
	list-style: none;
	text-decoration-line: none;
	color: #ffff;
}

@media screen and (max-width: 1000px) {
	.navBar_menu a {
	   font-size: 12px;
	 }
	
}




@media screen and (max-width: 900px) {
	
	
	.navBar_menu:hover .navBar_menu_son {
	display: none;
}
	.navBar_menu li:hover .navBar_menu_son {
	display: block;
}

	
	.navBar {
	   width: 100%;
	   max-height: 800px;
	   height: auto;
	   display: felx;
	   flex-direction: column;
	   align-items: flex-start;
	   padding: 8px 12px;
	}
	
	.navBar_menu {

	   flex-direction: column;
	   align-items: center;
	   width: 100%;
	}
	
	.navBar_menu li {
	   width: 100%;
	   text-align: center;
	   
	}
	
	.navBar_icons {
	
	   justify-content: center;
	   width: 100%;
	}
	
	
	.navBar_ham {
	display: block;
	position: absolute;
	right: 5px;
    }
	
	#navBar_hide{
	  display: none;
	  transition: all 2s;
	}
	
	
}
  
  